name: Build MacOS
on: workflow_dispatch

jobs:
  build:
    runs-on: macos-latest
    
    # Указываем, что работать нужно в папке client
    defaults:
      run:
        working-directory: ./client

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 16 # Для старых проектов на Electron лучше использовать 16 версию

      - name: Install Dependencies
        run: npm install

      - name: Build App
        env:
          # Отключаем подпись кода для обхода ошибки 254
          CSC_LINK: ""
          CSC_IDENTITY_AUTO_DISCOVERY: false
        run: |
          # В этом репозитории в package.json команда обычно 'build' или 'electron:build'
          # Мы пробуем запустить стандартную сборку
          npm run build
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Mole-UI-Mac
          # Ищем файлы в папке client/dist или client/out
          path: |
            client/dist/*.dmg
            client/dist/*.zip
            client/out/*.dmg
